* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-bg-main: #F0FFC3;
    --clr-bg-alt: #262626;
    --clr-danger: #FF5B5B;
    --clr-success: #685AFF;

    --clr-border: #ccc;

    --clr-fg-main: #f0ffc3;
    --clr-fg-alt: #262626;
}

ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}


input[type="text"],
input[type="date"],
textarea {
    padding: 0.5em 1em;
    border: 1px solid var(--clr-border);
    background-color: #eee;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    outline:none; 
    background-color: var(--clr-bg-main);
}

textarea {
    resize: none;
}

body {
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-main);
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
    border: none;
    background-color: var(--clr-bg-alt);
    color: var(--clr-fg-main);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

.hover:hover {
    background-color: var(--clr-bg-main);
    color: var(--clr-fg-alt);
}


header {
    background-color: var(--clr-bg-alt);
    color: var(--clr-fg-main);
    height: 100vh;
    width: 250px;
    --padding: 0.3em 1em;

    & .logo {
        margin-bottom: 1rem;
        padding: var(--padding);
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & .btn {
            background-color: transparent;
            color: var(--clr-danger);
            font-size: 1.15rem;
            letter-spacing: 1px;
            font-weight: 600;
        }

        & #nav-links {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;


            & li {
                padding: var(--padding);
                font-size: 1.15rem;
                cursor: pointer;
            }
        }

        & .project-list-container {

            & .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: var(--padding);
            }
        }
    }
}


main {
    position: relative;
    width: 100%;
    height: 100vh;

    & dialog {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0px 0px 4px 0px #ccc;

        & .task-form {
            --gap: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            min-width: 500px;

            & div:first-child {
                display: flex;
                gap: var(--gap);

                input[type="text"], textarea {
                    width: 75ch;
                }
            }

            & div:nth-child(2) {
                display: flex;
                flex-direction: column;
                gap: var(--gap);

                & #task-priority-input {
                    display: flex;
                    gap: 2rem;
                    margin-top: 1rem;
                    & label,
                    input {
                        cursor: pointer;
                    }

                    & input[type="radio"] {
                        appearance: none;
                    }

                    & label {
                        display: inline-block;
                        text-align: center;
                        position: relative;
                        padding-left: 22px;

                        &::before {
                            content: "";
                            position: absolute;
                            left: 2px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 12px;
                            height: 12px;
                            padding: 2px;
                            border: 1px solid var(--clr-border);
                            border-radius: 4px;
                        }

                        &:has(input[type="radio"]:checked)::before {
                            content: "✔";
                            font-size: 12px;
                            color: var(--clr-bg-main);
                            background-color: var(--clr-success);
                            border-color: transparent;
                        }
                    }

                }

            }

            & div:last-child {
                margin-top: 2rem;
                align-self: end;
            }
        }
    }
}
